.whole{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 80px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.start-image{
    height: 70px;
    padding-top: 0;
}
.signup{
    text-decoration: none;
    color:black;
    border:1.4px;border-style: solid;border-radius: 5px;padding: 8px 20px;margin: 5px;
}
.right{
    padding: 8px;
}
.nav_a{
    text-decoration: none;
    color:black;
    padding: 15px;
    text-align: left;
    padding-left: 0;
    padding-right: 30px;
}
.nav_select{
    border: 0;
    padding: 10px;
    padding-left: 5px;
    text-align: end;
    
}
.traveller{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.traveller-text-1{
    color: #DC5A40;font-size: 17px;
}
.traveller-text-2{
    font-size: 80px;margin: 0px;color:#181E4B;
    height: 280px;
}
.traveller-text-3{
    color: #55597B;
    padding-bottom: 0px;
    padding: 10px;
}
.traveller-left{
    padding-top: 100px;
    width: 50%;
    z-index: 1;
}
.traveller-left-tag{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 20px 30px  rgb(247, 234, 208);
    color: white;
    background-color:#F1A501;
    border: 0;
}
.traveller-right{
    width: 50%;
    z-index: 0;
}
.traveller-right-image{
    height: 600px;
    width: 600px;position: relative;
    right: 100px;
}
.plus1{
    position: relative;
    left: 900px;
    top: 250px;
    z-index: -1;
}
.plus2{
    position: relative;
    left: 360px;
    bottom: 155px;
    z-index: -1;
    rotate: 90deg;
}
.middle-1{
    text-align: center;color:#55597B;font-size: 18px;
    padding-top: 100px;
}
.middle-2{
    text-align: center;font-size:43px;color: #181E4B;
}
.category{
    display: flex;
    height: 350px;
    justify-content: space-around;
    align-items: center;
}
.category-1{
    width: 170px;
    padding: 25px;
    transition: 0.5s;
    text-align: center;
    height: 200px;
}
.category-1:hover{
    transform: scale(1.1);
    box-shadow: 2px 80px 80px#e1e1e3;
    border-radius: 15px;
}
.category-11{
    height: 80px;
    width: 20px;
    position: relative;
    top: -30px;
}
.category-text-1{
    color: #181E4B;
}
.category-text-2{
    font-size: smaller;
    color: #55597B;
    width: 130px;
    margin: 20px;
    text-align: left;
    
}
.top{
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    color: #55597B;
}
.top-1{
    width: 300px;
    transition: 0.5s; 
    height: 400px;
    box-shadow: 1px 2px 15px#e1e1e3;
    border-radius: 15px;
}
.top-1:hover{
    transform: scale(1.05);
    
}
.top-1-image{
    height: 300px;
    width: 300px;
}
.top-2{
    padding:5px 20px;
    display: flex;
    justify-content: space-between;
}
.top-3{
    padding-left: 24px;
    display: flex;
    gap: 12px;
}
.top-3-image{
    height: 12px;
}
.easy{
    display: flex;
    height: 700px;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}
.easy-01{
    text-align: left;color:#55597B;font-size: 18px;width: 500px;
}
.easy-11{
    text-align: left;font-size:43px;color: #181E4B;width: 400px;
}
.easy-1{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 0;
    width: 400px;
}
.easy-2{
    margin-right: 20px;
    margin-top: 5px;
}
.easy-21{
    color: #55597B;
    font-size: 20px;
    margin-bottom: 5px;
}
.easy-22{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #9296b7;
}
.easy-0{
    height: 300px;
    width: 270px;
    padding:20px;
    box-shadow: 25px -25px 80px#bdd6e9;
    border-radius: 15px;
    margin-top: 70px;
    margin-right: 80px;
}
.easy-right-1{
    color:  #9296b7;
    font-size: 15px;
}
.easy-right-2{
    height: 30px;
    display: flex;gap: 15px;
    padding-left: 8px;
}
.easy-new-1{
    display: flex;justify-content: space-between;align-items: center;
}
.easy-new-2{
    display: flex;align-items: flex-start;gap: 10px;align-items: center;
}
.easy-image{
    height: 140px;
    width: 270px;
}
.easy-3{
    display: flex;
    height: 100px;
    width: 220px;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;
    position: relative;
    left: 173px;
    bottom: 150px;
    box-shadow: 3px 3px 15px#e4e4e7;
}
.easy-4{
    height: 40px;
    width: 50px;
    border-radius: 150px;
    padding: 10px 10px;
}
.easy-5{
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    gap: 5px;
    width: 200px;
}
progress[value]{
    accent-color: #8A79DF;
    height: 8px;
    width: 120px;
}
.subscribe{
    height: 300px;
    padding: 20px;margin: 20px;
    padding-right: 0px;
    margin-right: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 80px;
    background-color: #F9F7FE;
    text-align: center;
    border-radius: 15px;
    border-top-left-radius: 80px;
    z-index: 1;
}
.mail-image{
    height: 20px;
    position: relative;
    bottom: 278px;
    right: 250px;
    opacity: 0.5;
}
.subscribe-info{
    font-size: 30px;padding: 10px 50px;
    margin: 1px 40px;color:#55597B ;
}
.mail{
    z-index: 3;
    border-radius: 5px;padding: 15px;width: 250px;
    padding-left: 60px;
    text-align: left;
    margin-top: 35px;
    border: none;
    background-color:white;
}
.mail-sent{
    z-index: 2;
    padding: 15px 30px;
    margin: 25px;margin-left:10px ;
    border-radius: 10px;
    color: white;
    background-color: #FF8B6B;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subscribe-image{
    height: 50px;
    position: relative;
    left: 470px;
    bottom: 30px;
}
.subscribe-image-1{
    height: 210px;
    position: relative;
    opacity: 0.1;
    z-index: 0;
    left: 22px;
    bottom: 210px;
}
.subscribe-image-2{
    height: 200px;
    position: relative;
    opacity: 0.1;
    z-index: 0;
    left: 463px;
    bottom: 295px;
    rotate: 270deg;
}
.travel{
    text-decoration: none;
    color:#55597B;
    padding: 15px;
    text-align: left;
    padding-left: 0;
}
.travel-space{
    height: 100px;
    width: 220px;
    font-size: 25px;
    color: #151B47;
    text-align: left;
}
.travel-1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
}
.foot{
    display: flex;
    padding: 15px 30px;
    gap: 5px;
}
.foot-image{
    height: 10px;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 20px rgb(204, 208, 215);
}
.foot-image-1{
    height: 12px;
    padding: 7px;
    padding-right: 5px;
    padding-left: 10px;
}
.text-1{
    color: white;
    font-size: 5px;
    text-align: left;
}
.text-2{
    color: white;
    font-size: 7px;
}
.foot-text{
    font-size: 43px;
    margin-bottom: 10px;
}
.foot-icon{
    display: flex;
    background-color: black;
    border-radius: 15px;
    margin: px;
    align-items: center;
    width: 80px;
}
.final{
    text-align: center;
}
.travel-final{
    font-size: 13px;color: #55597B;
}
.dis{
    color:#55597B;
    text-align: center;
    width: 170px;
    margin-left: 10px;
}
