<div class="side-bar" id="hideSideBar">
    <header>
        <div class="tezo-handle-container">
            <img src="../../../../assets/Images/Side-bar/TezoLogo.png" class="tezo-logo" alt="tezo-logo" />
            <img src="../../../../assets/Images/Side-bar/handle.png" class="handle-logo"  alt="handle-logo" id="contentMinimize" />
        </div>
        <div>
            <p class="dash-emp-role-manage">ALL</p>
            <div class="dash-emp-manage">
                <img src="../../../../assets/Images/Horizontal nav/Dashboard.svg" class="dash-emp-image" alt="Dashboard" />
                <img src="../../../../assets/Images/Side-bar/dashboard.svg" alt="Dashboard" class="dash-emp-image-hover" />
                <p>Dashboard</p>
            </div>
            <div class="dash-emp-manage" routerLink="/Employee-details" routerLinkActive="highlight-link">
                <img src="../../../../assets/Images/Side-bar/employee.svg" class="dash-emp-image" alt="Teams-logo" />
                <img src="../../../../assets/Images/Horizontal nav/Employees.svg" class="dash-emp-image-hover" alt="Teams-logo" />
                <p>Employees</p>
            </div>
            <p class="dash-emp-role-manage">ROLE / USER MANAGEMENT</p>
            <div class="role-acc-rights" routerLink="/Roles" routerLinkActive="highlight">
                <div>
                    <img src="../../../../assets/Images/Horizontal nav/Roles.svg" class="role-acc-rights-img" alt="Roles-logo" />
                    <img src="../../../../assets/Images/Side-bar/roles.svg" class="role-acc-rights-img-hover" alt="Roles-logo" />
                    <p>Roles</p>
                </div>
                <div><i class="ph-bold ph-caret-right"></i></div>
            </div>
            <div class="role-acc-rights">
                <div>
                    <img src="../../../../assets/Images/Horizontal nav/assign user.svg" class="role-acc-rights-img"
                        alt="Users-logo" />
                    <img src="../../../../assets/Images/Side-bar/assign user .svg" class="role-acc-rights-img-hover"
                        alt="Users-logo" />
                    <p>Access rights</p>
                </div>
                <div><i class="ph-bold ph-caret-right"></i></div>
            </div>
        </div>
    </header>
    <footer>
        <div class="update-control">
            <div>
                <p class="new-update">Install new update 2.3.1A</p>
            </div>
            <div>
                <p class="allow-update">Allow to launch the new update for the AD application</p>
            </div>
            <div>
                <button type="button" class="update-dismiss">Dismiss</button>
                <button type="button" class="update-accept">Accept</button>
            </div>
        </div>
    </footer>
</div>