

<div id="roleDescription" class="role-description">
    <div class="role-manage">
        <div class="role-data">
            <div class="employ-text">
                <div>
                    <p>Roles</p>
                </div>
                <div><img src="../../../assets/Images/Icons/caret-right-bold.svg"/></div>
                <div onclick="showContent('employeeData')" class="employ-link" target="_self">Employees</div>
            </div>
            <p>All the roles are configures here</p>
        </div>
        <div>
            <div type="button" class="add-employ" onclick="showContent('addEmployeeForm')">
                <span class="plus-logo">
                    <img src="../../../assets/Images/Icons/plus-bold.svg" class="plus-logo"/>
                </span>
                ADD EMPLOYEE
            </div>
        </div>
    </div>
    <div>
        <P class="role">Role Description</P>
        <p class="role-desc">Configure the providers that are available to users when they sign in.
            Configure the providers that are available to users when they sign in.
            Configure the providers that are available to users when they sign in.
            Configure the providers that are available to users when they sign in.</p>
    </div>
    <div class="role-emp">
        <div class="role-details">
            <div class="emp-detail">
                <div><img src="../../../../assets/Images/Search-bar/32.png" class="employ-image" alt="employ-image" /></div>
                <div>
                    <p class="emp-name">Robert Forx</p>
                    <p class="emp-role">Head Of Product Design</p>
                </div>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/Vector (1).svg" alt="vector-logo" />
                <p>INF122</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/email-1_svgrepo.com.svg" alt="email-logo" />
                <p>adamkyahoo.com</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/team_svgrepo.com.svg" alt="teams-logo" />
                <p>Technology</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/location-pin-alt-1_svgrepo.com.svg" alt="location-logo" />
                <p>Stockton, New Hampshire</p>
            </div>
            <div class="all-emp">
                <p>View</p>
                <img src="../../../../assets/Images/Side-bar/Vector.svg" alt="vector-image" />
            </div>
        </div>
        <div class="role-details">
            <div class="emp-detail">
                <div><img src="../../../../assets/Images/Search-bar/32.png" class="employ-image" alt="employ-image" /></div>
                <div>
                    <p class="emp-name">Marvin McKinney</p>
                    <p class="emp-role">Head Of Engineering</p>
                </div>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/Vector (1).svg" alt="vector-logo" />
                <p>INF150</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/email-1_svgrepo.com.svg" alt="email-logo" />
                <p>sravaniyahoo.com</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/team_svgrepo.com.svg" alt="teams-logo" />
                <p>Admin</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/location-pin-alt-1_svgrepo.com.svg" alt="location-logo" />
                <p>Syracuse, Connecticut</p>
            </div>
            <div class="all-emp">
                <p>View</p>
                <img src="../../../../assets/Images/Side-bar/Vector.svg" alt="vector-image" />
            </div>
        </div>
        <div class="role-details">
            <div class="emp-detail">
                <div><img src="../../../../assets/Images/Search-bar/32.png" class="employ-image" alt="employ-image" /></div>
                <div>
                    <p class="emp-name">Eleanor Pena</p>
                    <p class="emp-role">Senior Interaction Designer</p>
                </div>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/Vector (1).svg" alt="vector-logo" />
                <p>INF240
                <p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/email-1_svgrepo.com.svg" alt="email-logo" />
                <p>grolschiemac.com</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/team_svgrepo.com.svg" alt="teams-logo" />
                <p>Customer Executive</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/location-pin-alt-1_svgrepo.com.svg" alt="location-logo" />
                <p>Portland, Illinois</p>
            </div>
            <div class="all-emp">
                <p>View</p>
                <img src="../../../../assets/Images/Side-bar/Vector.svg" alt="vector-image" />
            </div>
        </div>
        <div class="role-details">
            <div class="emp-detail">
                <div><img src="../../../../assets/Images/Search-bar/32.png" class="employ-image" alt="employ-image" /></div>
                <div>
                    <p class="emp-name">Jane Cooper</p>
                    <p class="emp-role">Product Analyst</p>
                </div>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/Vector (1).svg" alt="vector-logo" />
                <p>INF389</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/email-1_svgrepo.com.svg" alt="email-logo" />
                <p>chronosaol.com</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/team_svgrepo.com.svg" alt="teams-logo" />
                <p>Product</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/location-pin-alt-1_svgrepo.com.svg" alt="location-logo" />
                <p>Coppell, Virginia</p>
            </div>
            <div class="all-emp">
                <p>View</p>
                <img src="../../../../assets/Images/Side-bar/Vector.svg" alt="vector-image" />
            </div>
        </div>
        <div class="role-details">
            <div class="emp-detail">
                <div><img src="../../../../assets/Images/Search-bar/32.png" class="employ-image" alt="employ-image" /></div>
                <div>
                    <p class="emp-name">Floyd Miles</p>
                    <p class="emp-role">Visual Designer</p>
                </div>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/Vector (1).svg" alt="vector-logo" />
                <p>INF209</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/email-1_svgrepo.com.svg" alt="email-logo" />
                <p>dgatwoodmsn.com</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/team_svgrepo.com.svg" alt="teams-logo" />
                <p>Customer Executive</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/location-pin-alt-1_svgrepo.com.svg" alt="location-logo" />
                <p>Lansing, Illinois</p>
            </div>
            <div class="all-emp">
                <p>View</p>
                <img src="../../../../assets/Images/Side-bar/Vector.svg" alt="vector-image" />
            </div>
        </div>
        <div class="role-details">
            <div class="emp-detail">
                <div><img src="../../../../assets/Images/Search-bar/32.png" class="employ-image" alt="employ-image" /></div>
                <div>
                    <p class="emp-name">Dianne Russell</p>
                    <p class="emp-role">Full Stack Software Engineer</p>
                </div>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/Vector (1).svg" alt="vector-logo" />
                <p>INF922</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/email-1_svgrepo.com.svg" alt="email-logo" />
                <p>kspiterilive.com</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Table/team_svgrepo.com.svg" alt="teams-logo" />
                <p>Human Research</p>
            </div>
            <div class="role-info">
                <img src="../../../../assets/Images/Side-bar/location-pin-alt-1_svgrepo.com.svg" alt="location-logo" />
                <p>Corona, Michigan</p>
            </div>
            <div class="all-emp">
                <p>View</p>
                <img src="../../../../assets/Images/Side-bar/Vector.svg" alt="vector-image" />
            </div>
        </div>
    </div>
</div>