body {
    padding-left:10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}
.side-bar{
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0.1px 0px 1px rgb(239, 238, 238);
}

.tezo-handle-logo{
    margin-left: 3.8%;
    margin-top: 12px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 32.7%;
    height: 7.4%;
    margin-bottom: 10px;
}
.tezo-logo{
    height: 25px;
}

.handle-logo{
    height: 28px;
    position: relative;
    left: 10px;
}

.category{
    padding-top: 8px;
    color: #CCD1D5;
    font-size: 11px;
    margin-left: 12px;
}
.category-type-1{
    width: 180px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7C8085;
    font-size: 13px;
    padding: 0px 10px;
    margin-top: 3px;
    padding-right: 8px;
    margin-right: 15px;
    cursor: pointer;
}
.category-type-1:hover{
    background-color: #FDE9E9;
    border-radius: 5px;
    color: #F44848;
    .category-type-1 > caret-right{
        color: #F44848;
    }
}
.category-type-10{
    display: flex;
    gap: 10px;
    align-items: center;
    max-width:max-content;
}
.category-type-10 > .image{
    height: 20px;
}
.employ{
    display: flex;
    justify-content: left;
    align-items:center;
    color: #A7A9AB;
    height: 30px;
}
.employ > .dot{
    font-size:52px;
    position: relative;
    right: 7px;
}
.employ > .text{
    font-size: 13px;
    position: relative;
    right: 8px;
}
.category-type-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-right: 13px;
    padding-right: 7px;
}
.category-type-2:hover{
    background-color: #F7F8F9;
    border-radius: 5px;
    .dep-cnt{
        background-color: #F44747;
        color: white;
    }
}
.dep-cnt{
    color: #F44747;
    background-color: #FEEEEE;
    width: 27px;
    height: 18px;
    text-align: center;
    border-radius: 12px;
    padding-top: 4px;
    font-size: 12px;
}
.update{
    height: 115px;
    background-color: #FEF6F6;
    font-size: 12px;
    width: 180px;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    padding-top: 10px;
    margin-top: 70px;
}

.update-text-1{
    color: #F55B5B;
}
.update-text-2{
    color: #8b8888;
}
.dismiss{
    background-color: #FDE6E6;
    border: none;
    color: #F55B5B;
    padding: 7px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
}
.accept{
    background-color: #F44848;
    color: white;
    border: none;
    padding: 7px 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 8px;
    font-size: 11px;
    cursor: pointer;
    font-weight: 550;
}


.details-right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 20px;
    padding-right: 10px;
}

.search-profile{
    height: 7.5%;
    width: 100%;
    box-shadow: 0px 0px 3px #a6aaad;
    border-radius: 6px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 0;
}

.search-box{
    display: flex;
    padding-right: 10px;
}
.search{
    padding:1px 8px 1px 15px;
    height: 20px;
}

.het{
    height: 3px;
    width: 3px;
}

.dis{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}






.left{
    color: #6A6F74;
    align-content: space-between;
    
}



.hit{
    position: relative;
    font-size: 40px;
    color: #28C76F;
    position: relative;
    left: 180px;
    top: 15px;
    z-index: 1;
    border: 1px;
    padding: 1px;
}
.tip{
    font-size: 20px;
    color: black;
}


.text{
    border:none;
}
.text:focus{
    outline: none;
}
.right{
    display: flex;
    align-items: center;
    gap: 5px;
}
.mage{
    height: 25px;
    cursor: pointer;
    border-radius: 50px;
}
.pad{
    font-size: 8px;
    line-height: 0.4;
}
.p{
    font-size: 11px;
    line-height: 0.5;
}
.q{
    font-size: 9px;
    color: #9CA6B4;
    line-height: 0.5;
}
.admin{
    font-size: 10px;
    line-height: 0;
    font-weight: 600;
}
.employ-1{
    display: flex;
    flex-direction: column;
    line-height: 0;
    padding-top: 10px;
}
.employ-text{
    font-size: 16px;
    color:#455573;
    font-weight: 530;
}
.text-employ{
    font-size: 11px;
    color: #7f8183;
    line-height: 0;
}
.shift{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 1px;
}
.button{
    background-color: #F89191;
    border: none;
    border-radius: 4px;
    height: 25px;
    font-size: 10px;
    color: white;
    font-weight:lighter;
    cursor: pointer;
    padding: 2px 15px;
}
.delete{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.del-mage{
    height: 14px;
    cursor: pointer;
}
.button-1{
    display: flex;
    height: 30px;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 11px;
    background-color: white;
    border-radius: 3px;
    color: #888b8f;
    margin-right: 5px;
    cursor: pointer;
    border-style: ridge;
    border: none;
    box-shadow: 0 0 1.1px;
}
.button-2{
    display: flex;
    height: 33px;
    width: 160px;
    font-size: 11px;
    gap: 10px;
    align-items: center;
    background-color: #F44848;
    border: none;
    color: white;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
}
.c-mage{
    padding-top: 2px;
    font-size: 16px;
    align-items: center;
}

.char{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.char-mage{
    height: 18px;
    cursor: pointer;
    position: relative;
    left: 2px;
}
.right-2{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}
.place{
    position: relative;
    top: 4px;
}
.riht-mage{
    height: 30px;
    padding: 1px 0px 1px 0px;
    border-radius: 50px;
}
.back-text{
    background-color: #EAEBEE;
    height:24px;
    width: 28px;
    border-radius: 4px;
    text-align: center;
    padding-top: 9px;
    font-size: 11px;
    color: #6A6F74;
    cursor: pointer;
}
.big{
    box-shadow: 0 0 1px rgb(137, 137, 137);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 11px;
    height: 50px;
    margin-left: 5px;
    align-items: center;
}
.small{
    box-shadow: 0 0 1px rgb(137, 137, 137);
    font-size: 11px;
    justify-content: center;
    height: 45px;
}
.end{
    box-shadow: 0 0 1px rgb(137, 137, 137);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 11px;
    height: 45px;
}
.start{
    box-shadow: 0 0 1px rgb(137, 137, 137);
    font-size: 10px;
    height: 40px;
    color: #455573;
    background-color: #FAFAFC;
    font-weight: 600;
}
.green{
    background-color: #E7F4E8;
    color: #6EAB96;
    padding:5px 12px;
    font-size: 11px;
    border: none;
    border-radius: 3px;
}
.small:hover{
    background-color: #FFF4F4;
}
.end:hover{
    background-color: #FFF4F4;   
}
.back-text:hover{
    background-color: #F44848;
    color: white;
}
tr,td{
    padding:0 15px;
}
.show{
    height: 2px;
    align-self:center;
}
.start > i{
    cursor: pointer;
}