<div class="task-status">
    <div class="status" style="background-color:#BA5112">
        <img src="../../../assets/images/check-circle-fill.svg">
        <div>
            <h3>{{completedTasks}}%</h3>
            <h6>Completed tasks</h6>
        </div>
    </div>
    <div class="status" style="background-color:#EDB046">
        <img src="../../../assets/images/clock-fill.svg">
        <div>
            <h3>{{activeTasks}}%</h3>
            <h6>Active tasks</h6>
        </div>
    </div>
</div>