<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" class="form-roles">
    <p>Create New Role</p>
    <table>
        <tr class="title-text">
            <td>Role Id<span class="input-required-icon"></span></td>
            <td>Role Name<span class="input-required-icon"></span></td>
            <td>Department Id<span class="input-required-icon"></span></td>
        </tr>
        <tr>
            <td><input type="text" class="role-text" placeholder="Role Id" formControlName="roleId">
                
            </td>
            <td><input type="text" class="role-text" placeholder="New Role" formControlName="roleName">
                
            </td>
            <td><select class="dep-select" formControlName="departmentId">
                    <option selected hidden>Search</option>
                    @for(department of departments;track department)
                    {
                        <option>{{ department.departmentId }}</option>
                    }
                </select>
                
            </td>
        </tr>
        <tr class="gap-btw-containers">
            <td>
                <small *ngIf="loginForm.get('roleId').invalid && loginForm.get('roleId').touched" class="error-message">
                    <img src="../../../../assets/Images/Table/warning-diamond-fill.svg"> This field is Invalid
                </small>
            </td>
            <td>
                <small *ngIf="loginForm.get('roleName').invalid && loginForm.get('roleName').touched" class="error-message">
                    <img src="../../../../assets/Images/Table/warning-diamond-fill.svg"> This field is Invalid
                </small>
            </td>
            <td>
                <small *ngIf="loginForm.get('departmentId').invalid && loginForm.get('departmentId').touched" class="error-message">
                    <img src="../../../../assets/Images/Table/warning-diamond-fill.svg"> This field is Invalid
                </small>
            </td>
        </tr>
        <tr class="title-text">
            <td>Description</td>
        </tr>
        <tr>
            <td colspan="2"><textarea type="text" class="role-descr" placeholder="Text"></textarea></td>
        </tr>
    </table>
    <p class="title-text">Location<span class="input-required-icon"></span></p>
    <select class="role-loc" formControlName="locationName">
        <option selected hidden>Search</option>
        @for(location of locations;track location)
        {
            <option>{{ location.locationName }}</option>
        }
    </select>
    <p class="title-text">Assign employees</p>
    <select class="role-assign-employ">
        <option selected hidden>Search for an employee</option>
        <option ></option>
    </select>
    <div class="cncl-sub-btn">
        <button class="cncl-btn">Cancel</button>
        <button class="sub-btn">Add Role</button>
    </div>
</form>