<div class="search-profile">
    <div class="search-box">
        <img src="../../../../assets/Images/Search-bar/bx-search.png" id="searchLogo" class="search-logo" alt="search-logo" />
        <input class="search-text" type="text" placeholder="Search" id="searchEmployeeWithName" class="search-text">
    </div>
    <div class="user-acts">
        <span class="status-dot"><i class="ph-bold ph-dot"></i></span>
        <img src="../../../../assets/Images/Search-bar/IconButton.png" class="user-acts-logo" alt="Language" />
        <img src="../../../../assets/Images/Search-bar/icon1.png" class="user-acts-logo" alt="More" />
        <img src="../../../../assets/Images/Search-bar/icon2.png" class="user-acts-logo" alt="Mode" />
        <img src="../../../../assets/Images/Search-bar/icon3.png" class="user-acts-logo" alt="Notifications">
        <div class="admin-control">
            <div><img src="../../../../assets/Images/Search-bar/32.png" class="admin-logo" alt="Admin-photo" /></div>
            <div>
                <p class="admin-name">Jhon Abraham</p>
                <p class="admin-status">Admin</p>
            </div>
            <div><i class="ph-bold ph-caret-down admin-caret-down"></i></div>
        </div>
    </div>
</div>